<h1>Welcome to StoryBoard</h1>
<p> Post your stories and share it to public or maintain your own personal diary.</p>

{{#if user}}

{{else}}
<a class="btn red darken-2" href="/auth/google"><i class="fa fa-google left"></i> Login with Google</a>

{{/if}}

<p>Want to start by reading what others have posted?</p>
<a href="/stories"><i class="fa fa-book"></i>Public Stories</a>