<h1>Welcome</h1>
<p>Welcome to StoryBoard</p>
<p> Post your stories and share it to public or maintain your own personal diary</p>

{{#if user}}

{{else}}
<a class="btn red darken-2" href="/auth/google"><i class="fa fa-google left"></i> Login with Google</a>

{{/if}}